@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open-sans', sans-serif;
}

:root {
    --light-body: #f5f5f5;
    --dark: rgb(45, 45, 45);
}

.wrapper{
    display: flex;
}

.post-container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post{
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image{
    background-image: url(../uploads/Luka1680110300/posts/46.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-statistics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.user{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-image{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.user-name{
    font-weight: 600;
}

.post-description{
    margin-top: 1rem;
}

.post-info{
    position: relative;
}

.like-btn{
    background-color: white;
    border: none;
    font-size: 1.6rem;
}

.comments{
    position: absolute;
    width: 100%;
    height: 670px;
    overflow-y: auto;
    padding-top: 1rem;
}

.post-comment{
    margin-top: 0.5rem;
}

.post-comment input[type="text"]{
    width: 90%;
    padding: 0.2rem;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
}

.post-comment input[type="button"]{
    width: 60px;
    padding: 0.2rem;
    border: 1px solid var(--dark);
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.post-comment input[type="button"]:hover{
    color: white;
    background-color: var(--dark);
}

.comment{
    display: flex;
    gap: 1rem;
}

.comment a{
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
}

.comment a:hover{
    color: var(--dark);
}

.user-comment-image{
    background-image: url(../uploads/Luka1680110300/posts/31.jpg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.fa-solid{
    color: red;
}

@media only screen and (max-width: 1400px) {
    .comments{
        height: 330px;
    }
}