
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open-sans', sans-serif;
}

:root {
    --light-body: #f5f5f5;
    --dark: rgb(45, 45, 45);
}

.container{
    display: flex;
    gap: 10%;
}

.user-profile{
    background-color: white;
    width: 50%;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow-y: auto;
    max-height: 90vh;
}

.user-info{
    display: flex;
    gap: 2rem;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 2rem;
}

.user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(../uploads/Marko1678997556/46.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-data{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.user-data .name{
    font-size: 1.5rem;
    font-weight: 600;
}

.user-data a{
    text-decoration: none;
    color: var(--dark);
    background-color: var(--light-body);
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 600;
}

.user-stats{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.user-stats a{
    text-decoration: none;
    color: var(--dark);
}

.user-stats span{
    font-weight: bold;
}

.user-posts{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
}

.post{
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#follow-user{
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--dark);
    border: 1px solid var(--dark);
    cursor: pointer;
    transition: all 0.3s ease;
}

#follow-user:hover{
    background-color: var(--dark);
    color: white;
}

#unfollow-user{
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--dark);
    border: 1px solid var(--dark);
    cursor: pointer;
    transition: all 0.3s ease;
}

#unfollow-user:hover{
    background-color: var(--dark);
    color: white;
}

.post .inner-post{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.post .inner-post:hover{
    background: rgba(0, 0, 0, 0.5);
}

.post .inner-post a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    display: none;
}

.post .inner-post p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: none;
}